{# Main Header Component #}
<div class="header-main">
    <div class="container">
        <div class="header-content">
            {# Mobile Menu Toggle #}
            <button class="mobile-menu-toggle" aria-label="{{ trans('common.menu') }}">
                <salla-icon name="menu"></salla-icon>
            </button>
            
            {# Logo #}
            <div class="site-logo">
                <a href="{{ store.url }}" title="{{ store.name }}">
                    <img src="{{ store.logo }}" alt="{{ store.name }}" loading="lazy">
                </a>
            </div>
            
            {# Search Bar #}
            <div class="header-search">
                <salla-search-bar></salla-search-bar>
            </div>
            
            {# Header Actions #}
            <div class="header-actions">
                {# Wishlist #}
                <salla-button-wishlist></salla-button-wishlist>
                
                {# Cart #}
                <salla-button-cart></salla-button-cart>
            </div>
        </div>
    </div>
</div>


